extends layout

block content
  h1= title
  - const items = results;
  .container-fluid
    .row
      each motor,index in items
        div(class="col-sm-2" onclick=`buy(${index})`)
          h3 #{motor.motor_name}
          p Model: #{motor.motor_model}
          p Price: $#{motor.motor_price}
  
  script.
    function buy(index) {
        alert(`You purchased : ${index}`)
    }
