extends layout

block content
  h1= title
  - let items = results;
  each item in items
    - let destination = `dispatch("/motor/update?id=${item._id}")`
    div
      p motor_name - #{item.motor_name}
      p motor_model - #{item.motor_model}
      p motor_price - #{item.motor_price}
      button.btn(class="btn-primary ml-1", onclick=destination) Update
      br
      br

  script.
    function dispatch(path){
      window.location.href = path
    }
